@import "../../../../../styles/mixins";

app-header-component {}

table {

  tr {
    &:first-child td {
      padding-top: 18px;

      @include for-phone-only {
        padding-top: 6px;
      }
    }

    &:last-child td {
      padding-bottom: 19px;

      @include for-phone-only {
        padding-bottom: 4px;
      }
    }
  }

  td {
    padding: 0;
  }
}

.stats {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;

  @include for-phone-only {
    margin: 0 10px;
  }

}


tbody>tr:nth-child(even) {
  font-weight: 400;
  background: none !important;
}

tbody>tr {
  font-weight: 600;
  border: 0px solid black !important;
}