@import "../../../../../styles/mixins";
@import "../../../../../styles/colors";

app-header-component {
  margin-bottom: 16px;

  @include for-phone-only {
    margin-bottom: 9px;
  }
}


.league {
  &-image-block {
    max-height: 100px;
    margin-right: 47px;

    @include for-phone-only {
      max-height: 39px;
      margin-right: 12px;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    font-weight: 400;

    @include for-phone-only {
      font-size: 8px;
      gap: 4px;
      line-height: 12px;
    }
  }

  &-name {
    font-size: 24px;
    font-weight: 600;

    @include for-phone-only {
      font-size: 12px;
    }
  }

  &-image {
    max-height: 100px;

    @include for-phone-only {
      max-height: 39px;
    }
  }

  &-country {
    display: flex;
    align-items: center;
    color: #4C535F;

    &-flag {
      max-height: 20px;
      margin-right: 6px;

      @include for-phone-only {
        max-height: 12px;
        margin-right: 4px;
      }
    }
  }
}



.card {
  padding: 0;

  &.past-champion {
    margin-top: 44px;
    height: 425px;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar-thumb {
      background-color: gray;
      border-radius: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: #E5E5E5;
    }

    &::-webkit-scrollbar {
      width: 6px;
      background-color: #E5E5E5;
    }

    @include for-phone-only {
      margin-top: 33px;
    }
  }

  &-header {

    padding: 8px 8px 6px 35px;

    .past-champion & {
      padding: 23px 16px 18px;
      border-bottom: none;
      font-size: 20px;
      line-height: 24px;

      @include for-phone-only {
        padding: 18px 8px 13px;
        font-size: 9px;
        line-height: 16px;
      }
    }

    @include for-phone-only {
      padding: 11px 8px 15px 18px;
    }
  }

  &-body {
    padding: 16px 20px 32px 17px;

    @include for-phone-only {
      padding: 2px 8px 12px;
    }
  }

  &-filter {
    display: flex;
    gap: 8px;
    padding: 20px;

    @include for-phone-only {
      padding: 8px;
    }
  }

  &-emblems {
    display: flex;
    justify-content: center;
    gap: 45px;
    margin: 30px 0;

    @include for-phone-only {
      margin: 2px 0 9px 0;
      gap: 26px;
    }
  }

  &-item {
    display: flex;
    justify-content: space-between;

    @include for-phone-only {
      padding: 1px 0 2px;
    }
  }
}

.emblems {
  &-block {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include for-phone-only {
      height: 73px;
    }
  }
}

.emblem {
  max-height: 101px;
  max-width: 136px;

  &-div {
    height: 101px;
    display: flex;
    align-items: center;

    @include for-phone-only {
      height: 49px;
    }
  }

  @include for-phone-only {
    max-height: 49px;
    max-width: 56px;
  }
}

.country-flag {
  height: 20px;
  margin-right: auto;

  @include for-phone-only {
    height: 8px;
  }
}

.right {
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 90px;

  @include for-phone-only {
    min-width: 47px;
  }
}

.btn-info {
  background: #F1F2F5;
  padding: 10px 13px;
  white-space: nowrap;

  @include for-phone-only {
    font-size: 8px;
    padding: 2px 4px;
  }
}

.container-left {
  gap: 20px;
}




@import "../../../../../styles/mixins";
@import "../../../../../styles/colors";


.table-grid-head,
.table-grid {
  display: flex;
  align-items: center;

}

.grid-item {
  width: 33.33%;
  grid-template-columns: none !important;
  border-bottom: 0px solid #F1F1F1 !important;
}

.profile-image {
  height: 20rem;
  width: 100%;
  border-radius: 6px;

  @include for-phone-only {
    max-height: 89px;
  }
}

app-header-component {
  margin-bottom: 12px;

  @include for-phone-only {
    margin-bottom: 4px;
  }
}

.card {

  &-header {
    &.trophies {
      padding: 24px 0 14px;

      @include for-phone-only {
        padding: 11px 0 0;
      }
    }

    &.rivals {
      padding: 16px 0 18px;

      @include for-phone-only {
        padding: 8px 0 0;
      }
    }
  }

  &-body {
    padding: 0px 0 8px;

    @include for-phone-only {
      padding: 8px 0 0;
    }

    &.trophies {
      padding: 0;
    }

    &.rivals {
      padding: 0 0 9px;

      @include for-phone-only {
        padding: 0;
      }
    }
  }

  &-filter {
    display: flex;
    gap: 13px;
  }

  &-item {
    display: flex;
    justify-content: space-between;

    .trophies & {
      padding: 13px 0 15px;

      @include for-phone-only {
        padding: 4px 0 2px;
      }

      &:last-child {
        padding-bottom: 15px !important;
        border-bottom: 1px solid #DDE1E6 !important;

        @include for-phone-only {
          padding-bottom: 2px !important;
        }
      }
    }

    .rivals & {
      padding: 8px 0;


      @include for-phone-only {
        padding: 4px 0 2px;
      }
    }
  }
}

.right {
  padding-left: 30%;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-align: right;
}

.btn-info {
  background: #F1F2F5;
  padding: 10px 13px;
  white-space: nowrap;

  @include for-phone-only {
    font-size: 8px;
    padding: 2px 4px;
  }
}

.top {
  padding-bottom: 10px;
}


.right {
  font-weight: 600;
  display: flex;
  align-items: center;
  text-align: right;
}

.btn-info {
  background: #F1F2F5;
  padding: 10px 13px;
  white-space: nowrap;

  @include for-phone-only {
    font-size: 8px;
    padding: 2px 4px;
  }
}

.card-header {
  background-color: white;
}


.headborder {
  border-bottom: 1px solid #F1F1F1;
}

.padheader {
  padding: 1.5rem !important;
}

.headtitle {
  font-size: 26px;
}

.teamhead {
  display: inline-flex;
}

.imgcontainer {
  padding: 1rem;
  background: #FFFFFF;
  border: 1px solid #F1F1F1;
  border-radius: 15px;
}

.teammarkimg {
  width: 3rem;
  height: 3rem;
  max-width: none !important;
}

.teamname {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  color: #04071E;
}

.gymname {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #4C535F;
}

.gymimg {
  visibility: visible;
  width: 20rem;
}


.table>tbody>tr:first-child {
  border-top: 1px solid #F1F1F1;
}

.table>tbody>tr:first-child>td {
  font-weight: bold;
  border-top: 1px solid #F1F1F1;
  font-weight: 700;
}

.text-right {
  text-align: right;
}

.card-body:nth-of-type(even) {
  font-weight: 600;
}

.card-item {
  width: 33.33%;
}

.mainheader {
  background: #FBFBFB;
  border-bottom: 1px solid #F1F1F1;
}


.card-filter {
  border-top: 1px solid #F1F1F1;
  border-bottom: 1px solid #F1F1F1;
}


.btn-h2h-search {
  background: #6DC47F;
  border-radius: 10px;
  color: #FFFF;
  font-size: 12px;
  width: 5rem;
}

.w100 {
  width: 100% !important;
}

.divspace {
  display: flex;
  justify-content: space-between;
}

.divspacebody:nth-child(even) {
  background: #FBFBFB;
}

.f-400 {
  font-weight: 400;
}

.thirdheight {
  height: 3rem;
}