<div class='header  p-4 pb-25'>
  <h2 class="title"><span class="live">{{firstTeamName}}
      Vs {{secondTeamName}}</span> H2H Stats</h2>
  <select #selectedMatch (change)="changeMatch(selectedMatch.value)" class="select select-league">
    <option selected>Last No.Match</option>
    <option *ngFor="let match of matches;  let i = index" [value]="match.id">
      {{i + 1}}
    </option>
  </select>
  <select #selectedTeam (change)="changeMatchByHomeTeam(selectedTeam.value)" class="select select-league">
    <option selected=true disabled>Home Team</option>
    <option *ngFor="let team of teams" [value]="team.id">
      {{team.name}}
    </option>
  </select>
</div>
<div class="table nonepd br20">
  <table class="nonebd br20">
    <thead>
      <tr>
        <th class="nonebd">Performance Summary</th>
        <th class="nonebd">{{allMatches && allMatches[0]?.homeTeam?.name}}</th>
        <th class="nonebd">{{allMatches && allMatches[0]?.awayTeam?.name}}</th>
      </tr>
    </thead>
    <tbody class="br20">
      <tr *ngFor="let item of list">
        <td class="nonebd">{{item.performance}}</td>
        <td class="nonebd">{{item.home}}</td>
        <td class="nonebd">{{item.away}}</td>
      </tr>
    </tbody>
  </table>
</div>