@import "../../../../../styles/colors";
@import "../../../../../styles/mixins";

app-header-component {
  margin-bottom: 16px;

  @include for-phone-only {
    margin-bottom: 8px;
  }
}

.home-title {
  text-align: right;
  margin-right: 31px;

  @include for-phone-only {
    margin-right: 18px;
  }
}

.away-title {
  margin-left: 20px;

  @include for-phone-only {
    margin-left: 12px;
  }
}

.table-grid {
  @include for-phone-only {
    padding-bottom: 2px;
  }
}

.grid-item {
  grid-template-columns: 4fr 3fr 4fr 2fr 4fr;
}

