<ng-container *ngIf="pastMatches?.length">
  <p class="match">
    {{ pastMatches && pastMatches[0]?.homeTeam?.name }} VS
    {{ pastMatches && pastMatches[0]?.awayTeam?.name }} Past Match
  </p>
  <div class="table-grid">
    <div class="grid-item grid-header">
      <div>Date</div>
      <div class="home-title">Home</div>
      <div></div>
      <div class="away-title">Away</div>
      <div>SCORE</div>
      <div></div>
    </div>
    <div
      class="grid-item"
      *ngFor="let item of events"
      (click)="navigateToH2h(item.homeTeam.id, item.awayTeam.id)"
      style="cursor: pointer"
    >
      <div class="date">{{ item?.dateStart | date: "dd.MM.yyyy" }}</div>
      <app-home-team
        [home]="item?.homeTeam?.name"
        [homeEmblem]="item?.homeTeam?.logo_path"
      ></app-home-team>
      <app-league-emblem
        [leagueEmblem]="item?.league?.logo_path"
      ></app-league-emblem>
      <app-away-team
        [away]="item?.awayTeam?.name"
        [awayEmblem]="item?.awayTeam?.logo_path"
      ></app-away-team>
      <div class="score">
        {{ item?.homeTeam?.score }} - {{ item?.awayTeam?.score }}
      </div>

      <div>
        <app-stats></app-stats>
      </div>
    </div>
  </div>
  <app-more
    *ngIf="events?.length !== allEvents?.length"
    [loaderState]="loaderState"
    (getMore)="more()"
  >
  </app-more>
</ng-container>
