@import "../../../../styles/mixins";

app-header-component {}

.card {
  padding: 17px 8px 21px;
  width: 100%;
  font-size: 16px;

  @include for-phone-only {
    padding: 6px 6px 8px;
    font-size: 8px;
  }

  &-item {
    padding: 14px 23px 15px 16px;
    justify-content: space-between;

    @include for-phone-only {
      padding: 4px 0 2px;
    }
  }
}

.container {
  column-count: 4;
  column-gap: 40px;
}

.item {
  flex: 50%;
  font-size: 16px;
}