@import "../../../styles/mixins";

.right,
.left {
  display: flex;
  margin-top: 60px;
  flex-direction: column;
}

.right {
  max-width: 360px;
  width: 100%;

  @include for-phone-only {
    display: none;
  }
}

.left {
  margin-top: 60px;
  flex: 1;

  @include for-phone-only {
    margin-top: 16px;
  }
}

.d-flex {
  gap: 60px;
}

.mb-20 {
  margin-bottom: 20px;

  @include for-phone-only {
    margin-bottom: 10px;
  }
}