<div class="container d-flex">
  <div class="left">
    <app-h2h-teams class="mb-60 whitebg br20"></app-h2h-teams>
    <app-h2h class="mb-60 whitebg br20"></app-h2h>
    <app-upcoming-match class="mb-60 whitebg br20"></app-upcoming-match>
    <app-matchstat class="mb-60 whitebg br20"></app-matchstat>
    <app-season-stats-performance class="mb-60 whitebg br20"></app-season-stats-performance>
    <app-season-stats-goals-scoring class="mb-60 whitebg br20"></app-season-stats-goals-scoring>
    <app-season-stats-goals-conceeded class="mb-60 whitebg br20"></app-season-stats-goals-conceeded>
    <app-season-stats-combined class="mb-60 whitebg br20"></app-season-stats-combined>
    <app-season-stats-total-match class="mb-60 whitebg br20"></app-season-stats-total-match>
    <app-result-table title="Real Madrid VS Elche Past Match" class="mb-60 whitebg br20"></app-result-table>
    <app-teams-match-stats class="mb-60 whitebg br20"></app-teams-match-stats>
    <app-team-recently-played class="mb-60 whitebg br20"></app-team-recently-played>
    <app-top-players-comparison class="mb-60 whitebg br20"></app-top-players-comparison>
    <app-team-player-stats title="Real Madrid Player Stats" class="mb-60 whitebg br20"></app-team-player-stats>
    <app-team-player-stats title="FC Elche Player Stats" class="mb-60 whitebg br20"></app-team-player-stats>
    <app-team-interesting-h2h class="mb-60 whitebg br20"></app-team-interesting-h2h>
    <app-search-h2h class="mb-60 whitebg br20"></app-search-h2h>
    <app-competition-standing class="mb-60 whitebg br20"></app-competition-standing>
    <app-detailed-stat class="mb-60 whitebg br20"></app-detailed-stat>
  </div>
  <div class="right">
    <app-live-events></app-live-events>
    <app-interesting-h2h class="mb-30"></app-interesting-h2h>
  </div>
</div>