@import "../../../../styles/mixins";

app-header-component {
  margin-bottom: 0px;

  @include for-phone-only {
    margin-bottom: 0;
  }
}

.coming-match {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 18px auto 0;

  @include for-phone-only {
    max-width: 253px;
    margin-top: 28px;
  }
}

.teams {
  display: flex;
  justify-content: space-between;
}

.emblem {
  max-height: 105px;
  max-width: 105px;
  display: flex;
  align-items: flex-end;

  img {
    max-height: 105px;
    max-width: 105px;
  }

  @include for-phone-only {
    max-height: 46px;
    max-width: 46px;

    img {
      max-height: 46px;
      max-width: 46px;
    }
  }
}

.home,
.away,
.league {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

.name {
  margin-top: 16px;
  margin-bottom: 20px;

  @include for-phone-only {
    margin-top: 6px;
    margin-bottom: 8px;
    font-size: 12px;
  }
}

.date {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;

  @include for-phone-only {
    margin-top: 6px;
    gap: 0;
    font-size: 10px;
    line-height: 14px;
  }
}

.match-left {
  padding: 20px 15px 15px;
  background: #F1F2F5;
  border-radius: 6px;
  margin: 32px auto 45px;
  display: flex;
  gap: 20px;


  @include for-phone-only {
    padding: 6px 14px 7px 15px;
    margin: 16px auto 20px;
    gap: 24px;
  }
}

.times {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:first-child {
    margin-right: 5px;
  }
}

.number {
  @include font-params(30px, #6DC47F, 400, 20px);
  font-family: 'Digital Normal', sans-serif;

  @include for-phone-only {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 4px;
  }
}

.unit {
  font-weight: 350;

  @include for-phone-only {
    font-size: 12px;
  }
}

.btn-primary {
  margin: 0 auto;
  width: 256px;
  font-weight: 600;

  @include for-phone-only {
    width: 175px;
  }
}

.percent {
  padding: 2px 0;
  width: 40px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  border-radius: 6px;

  @include for-phone-only {
    width: 31px;
  }

  &-green {
    background: #7CBF7F;
  }

  &-orange {
    background: #C99E57;
  }
}

.upcomdiv {
  height: 3.5rem;
  padding: 1.5rem !important;
  width: 70%;
}

.upcomingtime {
  color: #4C535F;
}

.upprebtn {
  width: 100%;
}

.right {
  font-weight: 600;
  display: flex;
  align-items: center;
  text-align: right;
}

.left {
  font-weight: 600;
  display: flex;
  align-items: center;
  text-align: left;
}