<div *ngIf="type=='header' ;else other " (focusin)="focusIn($event)" (focusout)="focusOut($event)"
  (mouseleave)="!focus ? focusOut($event) : ''" id="search-header">
  <div class="search">
    <input (click)="focusIn($event)" [formControl]="searchControl" class="search-input head-search"
      [class.search-menu]="isMenu" [placeholder]="placeholder">
    <i class="icon icon-search" (click)="search()"></i>
    <div class="list-modal px-3 py-1" *ngIf="showListResult && listResult?.length">
      <div *ngFor="let element of listResult">
        <a class="link" (click)="searchLink(element)">{{element?.name}}</a>
      </div>
    </div>
  </div>
</div>


<ng-template #other>
  <div (focusin)="focusIn($event)" (focusout)="focusOut($event)" (mouseleave)="!focus ? focusOut($event) : ''"
    id="search-header">
    <div class="search">
      <input (click)="focusIn($event)" [formControl]="searchControl" class="search-input" [class.search-menu]="isMenu"
        [placeholder]="placeholder">
      <i class="icon icon-search" (click)="search()"></i>
      <div class="list-modal px-3 py-1" *ngIf="showListResult && listResult?.length">
        <div *ngFor="let element of listResult">
          <a class="link" (click)="searchLink(element)">{{element?.name}}</a>
        </div>
      </div>
    </div>
  </div>
</ng-template>