<div class="title p-4 pt-4">Matchstat.com Real Madrid VS Elche Prediction</div>

<div class="table">
  <table class="w-100">
    <tbody>
      <tr *ngFor="let item of list">
        <td>
          <div class="stats">
            <span>{{item.column1Title}}</span>
            <span>{{item.column1Value}}</span>
          </div>
        </td>
        <td>
          <div class="stats">
            <span>{{item.column2Title}}</span>
            <span>{{item.column2Value}}</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="info">
  Above are our percentage probability of each event occuring
</div>