<div class="header p-4">
  <h2 class="title">Real Madrid VS Elche H2H Match Stats</h2>
  <select class="select select-match">
    <option>Last No. Match</option>
  </select>
  <select class="select select-team">
    <option>Home Team</option>
  </select>
</div>

<div class="table three-rows">
  <table class="w-100">
    <thead>
      <tr>
        <td>Performance Summary</td>
        <td>Real Madrid</td>
        <td>FC Elche</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <td>{{item.performance}}</td>
        <td>{{item.home}}</td>
        <td>{{item.away}}</td>
      </tr>
    </tbody>
  </table>
</div>